@import url(initialize.css);
@import url(nav.css);
nav li.home a:link,nav li.home a:visited,nav li.home a:active
{
    text-decoration: none;color: #FFFFFF;background-color: #00449F;
}
nav li.home a:hover
{
    text-decoration: none;color: #FFFFFF;background-color: #0064AF;
}